/* google-sans-flex-100 - latin_latin-ext_math_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/google-sans-flex-v20-latin_latin-ext_math_symbols-100.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-flex-200 - latin_latin-ext_math_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/google-sans-flex-v20-latin_latin-ext_math_symbols-200.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-flex-300 - latin_latin-ext_math_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/google-sans-flex-v20-latin_latin-ext_math_symbols-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-flex-regular - latin_latin-ext_math_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/google-sans-flex-v20-latin_latin-ext_math_symbols-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-flex-500 - latin_latin-ext_math_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/google-sans-flex-v20-latin_latin-ext_math_symbols-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-flex-600 - latin_latin-ext_math_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/google-sans-flex-v20-latin_latin-ext_math_symbols-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-flex-700 - latin_latin-ext_math_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/google-sans-flex-v20-latin_latin-ext_math_symbols-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-flex-800 - latin_latin-ext_math_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/google-sans-flex-v20-latin_latin-ext_math_symbols-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-flex-900 - latin_latin-ext_math_symbols */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/google-sans-flex-v20-latin_latin-ext_math_symbols-900.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ************************************** */

/* google-sans-code-300 - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-300italic - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-300italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-regular - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-italic - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-500 - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-500italic - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-500italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-600 - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-600italic - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-600italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-700 - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-700italic - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-700italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-800 - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* google-sans-code-800italic - latin_latin-ext_math_symbols_symbols2 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/google-sans-code-v17-latin_latin-ext_math_symbols_symbols2-800italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
